.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 7%;
    width: calc(100vw - 7vw);
    bottom: 0;
    backdrop-filter: blur(2px);
    background: rgba(145, 154, 150, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.container-modal {
    position: relative;
    padding: 4rem 5.6rem;
    background: #FFFFFF;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.modal .close-icon {
    position: absolute;
    top: 3rem;
    right: 3rem;
    cursor: pointer;
}

.modal h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #343447;
    text-align: center;
    margin-bottom: 3.2rem;
}

.modal .input-groups {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.modal .input-group {
    display: flex;
    flex-direction: column;
}

.modal .input-group label {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    color: #344054;
    margin-bottom: 6px;
}

.modal .input-group input {
    padding: 1rem 1.4rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: #344054;
}

.modal form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.modal button {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    color: #F8F8F9;
    transition: all .3s;
}

.modal .small-input {
    width: 178px;
}

.modal .row-inputs {
    display: flex;
    align-items: center;
    gap: 2.4rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.modal button:hover {
    filter: drop-shadow(0px 2px 10px #da01754d);
}

.eye-off {
    height: 2rem;
    width: auto;
    position: absolute;
    opacity: 0.8;
    bottom: 1.2rem;
    right: 1.2rem;
    cursor: pointer;
}

.eye-open {
    height: 3.3rem;
    position: absolute;
    opacity: 0.8;
    bottom: 0.4rem;
    right: 0.5rem;
    cursor: pointer;
}

.modal .feedback-error {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    color: #E70000;
    top: 68px
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

@media (max-width: 768px) {
    .container-modal {
        padding: 2rem 4rem;
    }

    .modal {
        height: 91vh;
        width: 100%;
        left: 0;
    }
}

@media (max-width: 540px) {
    .modal {
        height: 93vh;
        align-items: flex-start;
    }

    .modal .row-inputs {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    .modal .small-input {
        width: 48%;
    }

    .container-modal {
        padding: 2.3rem 0;
        margin-top: 1.5rem;
        height: 90%;
        width: 93%;
    }

    .container-modal .input-groups {
        width: 91%;
    }

    .container-modal .input-groups .row-inputs {
        width: 100%;
        justify-content: space-between;
    }
}