.modal-invalid-token {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(145, 154, 150, 0.3);
    backdrop-filter: blur(4px);
    z-index: 100;
    font: 2.6rem;
}


