.bg-light-blue {
    background-color: #EEF7F7;
}

.bg-light-pink {
    background-color: #FFEFEF;
}

.bg-light-orange {
    background-color: #FCF6DC;
}

.color-light-blue {
    color: #1FA7AF;
}

.color-dark-red {
    color: #971D1D;
}

.color-dark-yellow {
    color: #C5A605;
}

.color-gray {
    color: #747488
}