.modal-charge-details {
    position: fixed;
    top: 0;
    right: 0;
    left: 7%;
    width: calc(100vw - 7vw);
    bottom: 0;
    backdrop-filter: blur(2px);
    background: rgba(145, 154, 150, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    transition: 0.5s easy all;
    /* padding: 5rem; */
}

.card-charge-details {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    padding: 4rem 5.6rem;
    background: #FFFFFF;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-charge-details__close-icon {
    position: absolute;
    top: 3rem;
    right: 3rem;
    cursor: pointer;
}

.card-charge-details__header {
    gap: 1.6rem;
    margin-bottom: 1.6rem;
}

.card-charge-details__icon {
    width: 3.2rem;
}

.card-charge-details__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 26px;
    color: #3F3F55;
}

.card-charge-details span::selection {
    background-color: #da01754d;
}

.card-charge-details__body {
    display: flex;
    gap: 2.4rem;
}

.card-charge-details__group {
    display: flex;
    gap: .8rem;
}

.card-charge-details__group--row {
    display: flex;
}

.grow {
    max-width: 24.3rem;
    flex-grow: 1;
}

.card-charge-details__label,
.card-charge-details__data,
.card-charge-details__data--description {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: #3F3F55;
}

.card-charge-details__label {
    font-weight: 700;
}

.card-charge-details__data,
.card-charge-details__data--description {
    font-weight: 400;
}

.card-charge-details__data--description {
    max-height: 13rem;
    overflow: auto;
    text-align: justify;
    padding-right: .5rem;
}

.drop-shadow--pay {
    filter: drop-shadow(0px 2px 10px rgb(31, 167, 175, .6));
}

.drop-shadow--pending {
    filter: drop-shadow(0px 2px 10px rgb(197, 166, 5, .6));
}

.drop-shadow--unsuccessful {
    filter: drop-shadow(0px 2px 10px rgba(218, 1, 117, 0.6));
}

.badge {
    border-radius: 0.8rem;
    padding: 0.05rem 1.2rem;
}

.badge--pay {
    background: #EEF6F6;
    color: #1FA7AF;
}

.badge--pending {
    background: #FCF6DC;
    color: #C5A605;
}

.badge--unsuccessful {
    background-color: #FFEFEF;
    color: #971D1D;
}

.flex-row {
    display: flex;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-column--align-center {
    display: flex;
    flex-direction: column;
}


@media only screen and (max-width: 768px) {
    .modal-charge-details {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        backdrop-filter: blur(2px);
        background: rgba(145, 154, 150, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 5;
        transition: 0.5s easy all;
        padding: 2rem;
    }

    .card-charge-details {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        position: relative;
        padding: 2rem 5.6rem;
        background: #FFFFFF;
        border-radius: 30px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        margin-bottom: 60px;
    }

    .card-charge-details__icon {
        display: none;
    }

    .card-charge-details__data--description {
        max-height: 8rem;
        overflow: auto;
        text-align: justify;
        padding-right: .5rem;
    }

}